*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;  
  text-decoration: none;
}

body{
  height: 100vh;
}
  
header{
  background-image: linear-gradient(to right, rgba(121, 121, 160, 0.8) , rgba(88, 109, 245, 0.7) );
  /* background: gold; */
}

header .container{
  padding: 50px 40px;
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto
  /* padding: 10px 15px; */
  /* margin-top: 15px; */
}

header h1{
  color: rgb(150, 75, 75);
  font-weight: bold;
  text-align: center
}

.header-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item{
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
}

.header-item a{
  display: block;
  color: rgba(63, 39, 41, 0.89);
  font-weight: bold;
}

.header-item a:hover{
  color: rgb(29, 35, 73);
  font-size: 22px;
  transition: 0.5s;
}


main .container{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  margin: 0 auto
}

.video{
  width: 540px;
  height: 300px;
  z-index: -10;
  margin-top: 20px;
  border-radius: 10px;
}

.search-genre{
  display: none;
}

.modal .search-genre{
  display: block;
}

.right-side{
  display: flex;
  margin-left: 20px;
}

.list-film{
  background: rgb(187, 67, 67);
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  color: white;
  font-weight: bold;
}

.info{
  background: rgb(80, 75, 75);
  border-radius: 10px;
  padding: 10px;
  color: white;
  width: 300px;
  margin-left: 5px;

}

.film-name{
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}
.search{
  padding: 10px 35px;
  margin-top: 10px;
  margin-right: 50px;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 20px;
  color: red;
}

.search:hover{
  background: rgb(128, 97, 97);
  transition: 1s;
  color: black;
}

.choose-year{
  padding: 10px 15px;
  border-radius: 10px;
  color: red;
}

.choose-year:hover{
  background: rgb(155, 130, 130);
  transition: 1s;
  color: black;
  font-weight: bold;
}